/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/views/*.php-tmp*.php-tmp
/app/views/products/*.php-tmp
/app/controllers/*.php-tmp
/app/views/bracelets/*.php-tmp
/app/database/migrations/*.php-tmp
/app/models/*.php-tmp
/app/views/*.php-tmp
/app/views/orders/*.php-tmp
*.php-tmp
bower_components
